//Primary colors
$primary-green: #142626;
$primary-white: #c9c9c9;
$primary-grey: #9a9a9a;

//Secondary colors
$secondary-white: #fff;
$secndary-black: #0E0E0E;
$secndary-grey: #1F1F1F;

//Thirdaparty colors
$thirdparty-black: #000;
$thirdparty-white: #CECECE;